@*Confirmation Page*@

@{
    ViewData["Title"] = "Confirmation Page";
    ViewData["Header"] = "Confirmation";
}


@model Project1.Models.Task

<br />
<h4>@Model.TaskName has been added to the list!</h4>