@{
    ViewData["Title"] = "Putting First Things First";
    ViewData["Header"] = "Home";
}

<br />

<div class="text-center">
    <p>
        In the book, "The 7 Habits of Highly Effective People," Stephen Covey suggests that Tasks on your To-Do List be broken into four Quadrants.
    </p>
 
        <p>Quadrant 1: Important/Urgent</p>
        <p>Quadrant 2: Important/Not Urgent</p>
        <p>Quadrant 3: Not Important/Urgent</p>
        <p>Quadrant 4: Not Important/Not Urgent</p>

</div>

<br />
<div style="text-align:center;">
    <img src="~/img/matrix.jpg" />
</div>
