@{
    ViewData["Title"] = "Putting First Things First";
}

<div class="text-center">
    <p>
        In the book, "The 7 Habits of Highly Effective People," Stephen Covey suggests that Tasks on your To-Do List be broken into four Quadrants.
    </p>
    <ol>
        <li>Quadrant 1: Important/Urgent</li>
        <li>Quadrant 2: Important/Not Urgent</li>
        <li>Quadrant 3: Not Important/Urgent</li>
        <li>Quadrant 4: Not Important/Not Urgent</li>
    </ol>

</div>

<div>
    <img src="~/img/matrix.jpg" />
</div>
