@{
    ViewData["Title"] = "New Task";
    ViewData["Header"] = "Add Task";
}

@model Project1.Models.TaskModel

<br /><br />

<div class="container">
    <div class="row">
        <div class="col-4">
            <fieldset style="width: 250px;">

                <form method="post">

                    <div asp-validation-summary="All"></div>

                    <label asp-for="TaskName">Enter a Task:</label>
                    <input asp-for="TaskName" />
                    <br /><br />

                    <label asp-for="DueDate">Due Date: </label>
                    <input asp-for="DueDate" />
                    <br /><br />

                    <label asp-for="Quadrant">Quadrant: </label>
                    <select asp-for="Quadrant">
                        <option value="1">Quadrant 1</option>
                        <option value="2">Quadrant 2</option>
                        <option value="3">Quadrant 3</option>
                        <option value="4">Quadrant 4</option>
                    </select>
                    <br /><br />

                    <label asp-for="CategoryId">Category: </label>
                    <select asp-for="CategoryId">
                        <option value="">Select a Category</option>
                        @foreach (TaskCategory category in ViewBag.Categories)
                        {
                            <option value="@category.CategoryId">@category.CategoryName</option>
                        }
                    </select>
                    <br /><br />

                    <label asp-for="Completed">Completed: </label>
                    <select asp-for="Completed">
                        <option value="true">Yes</option>
                        <option value="false">No</option>
                    </select>
                    <br /><br />

                    <button type="submit">Submit</button>

                </form>
            </fieldset>

        </div>


        <div class="col-8">
            <div style="text-align:center;">
                <img src="~/img/matrix.jpg" />
            </div>
        </div>
    </div>
</div>



    